<header>
    <div class="row">
        <div class="col-4">
            <button class="back-btn d-flex justify-content-start" (click)="goBack()">
                <mat-icon class="me-1 py-auto">arrow_back</mat-icon>
                <span class="align-top">戻る</span>
            </button>
        </div>
        <div class="col-4 text-center">
            <span class="title">JPA match!</span>
        </div>
        <div class="col-4 fs-6 text-end">
            <span>開始時刻 {{startDt | date : 'hh:mm'}}</span>
        </div>
    </div>
</header>

<main>
    <!-- プレイヤー情報 -->
    <div class="row mb-2" style="height: 25%;">
        <ng-container *ngFor="let player of players()">
            <div class="col-6" (click)="clickFirstPlayer(player.homeKbn)"
                [ngClass]="{'player-turn': isChoosingFirstPlayer() || player.homeKbn === currentPlayerKbn, 'selectable': isChoosingFirstPlayer()}">
                <div class="fs-3 mb-1 text-center">{{player.name}}</div>
                <div class="d-flex justify-content-center px-2 mb-4 fs-5">
                    <div class="me-3">SL: {{player.skillLevel}}</div>
                    <div>Goal: {{player.goal}}</div>
                </div>
                <div class="text-center fs-1">{{getScore(player.homeKbn)}}</div>
            </div>
        </ng-container>
    </div>

    <!-- ゲーム情報 -->
    <div class="row fs-4" style="height: 5%;">
        <div class="col-4 text-center">Rack:{{currentRack}}</div>
        <div class="col-4 text-center">Inning:{{currentInning}}</div>
        <div class="col-4 text-center">Dead:{{deadCount}}</div>
    </div>
    <!-- イニング内容 -->
    <div id="inning-contents" style="height: 40%;">
        <ng-container *ngFor="let inningRecord of inningRecords; let i = index">
            <div class="row fs-6 border-bottom " style="min-height: 1.5rem;">
                <!-- ホームプレイヤー -->
                <div class="break-col">
                    <ng-container *ngIf="inningRecord.isHomePlayerBreak">Break</ng-container>
                </div>
                <div class="pockets-col">
                    <ng-container *ngFor="let ball of inningRecord.homePlayerPockets">
                        <img class="pockets" src="assets/images/ball/ball_{{ball}}.svg" alt="球{{ball}}">
                    </ng-container>
                    <ng-container *ngIf="inningRecord.isHomePlayerSafety">S</ng-container>
                </div>
                <!-- イニング数 -->
                <div class="inning-col">
                    <ng-container
                        *ngIf="inningRecord.inning === currentInning && currentPlayerKbn === HomeKbn.HOME">*</ng-container>
                    <ng-container *ngIf="inningRecord.inning !== 0">{{inningRecord.inning}}</ng-container>
                    <ng-container
                        *ngIf="inningRecord.inning === currentInning && currentPlayerKbn === HomeKbn.VISITOR">*</ng-container>
                </div>
                <!-- ビジタープレイヤー -->
                <div class="pockets-col">
                    <ng-container *ngFor="let ball of inningRecord.visitorPlayerPockets">
                        <img class="pockets" src="assets/images/ball/ball_{{ball}}.svg" alt="球{{ball}}">
                    </ng-container>
                    <ng-container *ngIf="inningRecord.isVisitorPlayerSafety">S</ng-container>
                </div>
                <div class="break-col">
                    <ng-container *ngIf="inningRecord.isVisitorPlayerBreak">Break</ng-container>
                </div>
            </div>
        </ng-container>
    </div>
    <!-- 球ボタンと先攻選択の切り替え -->
    <ng-container *ngIf="isChoosingFirstPlayer(); else ballButtons">
        <!-- 先攻選択 -->
        <div class="d-flex align-items-center" style="height: 20rem;">
            <div class="mx-auto fs-1 text-center">
                ↑先攻プレイヤーを選択
            </div>
        </div>
    </ng-container>
    <!-- 球ボタン -->
    <ng-template #ballButtons>
        <ng-container *ngFor="let row of [[1, 2, 3, 4, 5], [6, 7, 8, 9, 10]]">
            <div class="row justify-content-around mb-2">
                <ng-container *ngFor="let ball of row">
                    <div style="width: 20%;">
                        <ng-container *ngIf="ball!==10" ngIfElse="">
                            <button class="image-container ball-highlight" [disabled]="isDisabled(`ball${ball}`)"
                                [hidden]="isHidden(`ball${ball}`)" [class.ball-highlight]="isHighlight(`ball${ball}`)"
                                (click)="clickBall(ball)">
                                <img src="assets/images/ball/ball_{{ball}}.svg" alt="球{{ball}}">
                            </button>
                        </ng-container>
                    </div>
                </ng-container>
            </div>
        </ng-container>
    </ng-template>
    <!-- ボタン -->
    <div class="row">
        <!-- deadボタン -->
        <div class="col-3">
            <button [disabled]="isDisabled('btnDead')" (click)="clickDead()">
                <div class="image-container">
                    <img src="assets/images/button/dead.svg" alt="dead">
                </div>
                <div class="button-text">dead</div>
            </button>
        </div>
        <!-- safetyボタン -->
        <div class="col-3">
            <button [disabled]="isDisabled('btnSafety')" (click)="clickSafety()">
                <div class="image-container">
                    <img src="assets/images/button/safety.svg" alt="safety">
                </div>
                <div class="button-text">safety</div>
            </button>
        </div>
        <!-- switchボタン -->
        <div class="col-3">
            <button [disabled]="isDisabled('btnSwitch')" (click)="clickSwitch()">
                <div class="image-container">
                    <img src="assets/images/button/switch.svg" alt="switch">
                </div>
                <div class="button-text">switch</div>
            </button>
        </div>
        <!-- undoボタン -->
        <div class="col-3">
            <button [disabled]="isDisabled('btnUndo')" (click)="clickUndo()">
                <div class="image-container">
                    <img src="assets/images/button/undo.svg" alt="undo">
                </div>
                <div class="button-text">undo</div>
            </button>
        </div>
    </div>
</main>