<header>
    <div class="row">
        <a class="col-4" routerLink="/home">
            <mat-icon>arrow_back</mat-icon>
        </a>
        <div class="col-4 text-center">
            <span class="titie">JPR match!</span>
        </div>
        <div class="col-4 fs-6 text-end">
            <span>開始時刻 {{startTime | date : 'hh:mm'}}</span>
        </div>
    </div>
</header>

<main>
    <!-- プレイヤー情報 -->
    <div class="player-board row mb-2">
        <ng-container *ngFor="let player of players">
            <div class="col-6">
                <div class="fs-3 mb-1 text-center">{{player.name}}</div>
                <div class="d-flex justify-content-center px-2 mb-4 fs-5">
                    <div class="me-3">SL: {{player.skillLevel}}</div>
                    <div>Goal: {{player.goal}}</div>
                </div>
                <div class="text-center fs-1">{{player.score}}</div>
            </div>
        </ng-container>
    </div>

    <!-- ゲーム情報 -->
    <div class="row fs-4">
        <div class="col-4 text-center">Rack:{{rack}}</div>
        <div class="col-4 text-center">Inning:{{totalInning}}</div>
        <div class="col-4 text-center">Dead:{{dead}}</div>
    </div>
    <!-- イニング内容 -->
    <div class="py-2 px-4 border-top border-bottom border-3 mb-2">
        <ng-container *ngFor="let inning of [1, 2, 3, 4, 5, 6]">
            <div class="row fs-5 border-bottom " style="min-height: 1.5rem;">
                <ng-container *ngIf="inning===1">
                    <div class="col-5">Break ①</div>
                    <div class="col-2 text-center">*1</div>
                </ng-container>
                <ng-container *ngIf="inning!==1">
                    <div class="col-5"></div>
                    <div class="col-2"></div>
                </ng-container>
                <div class="col-5"></div>
            </div>
        </ng-container>
    </div>
    <!-- ボール -->
    <ng-container *ngFor="let row of [[1, 2, 3, 4, 5], [6, 7, 8, 9, 10]]">
        <div class="row justify-content-around mb-2">
            <ng-container *ngFor="let ball of row">
                <div style="width: 20%;">
                    <ng-container *ngIf="ball!==10" ngIfElse="">
                        <button class="image-container" (onclick)="clickBall(ball)">
                            <img src="assets/images/ball/ball_{{ball}}.svg" alt="球{{ball}}">
                        </button>
                    </ng-container>
                </div>
            </ng-container>
        </div>
    </ng-container>
    <!-- ボタン -->
    <div class="row">
        <!-- deadボタン -->
        <div class="col-3">
            <button (onclick)="clickDead()">
                <div class="image-container">
                    <img src="assets/images/button/dead.svg" alt="dead">
                </div>
                <div class="button-text">dead</div>
            </button>
        </div>
        <!-- safetyボタン -->
        <div class="col-3">
            <button (onclick)="clickSafety()">
                <div class="image-container">
                    <img src="assets/images/button/safety.svg" alt="safety">
                </div>
                <div class="button-text">safety</div>
            </button>
        </div>
        <!-- switchボタン -->
        <div class="col-3">
            <button (onclick)="clickSwitch()">
                <div class="image-container">
                    <img src="assets/images/button/switch.svg" alt="switch">
                </div>
                <div class="button-text">switch</div>
            </button>
        </div>
        <!-- undoボタン -->
        <div class="col-3">
            <button (onclick)="clickUndo()">
                <div class="image-container">
                    <img src="assets/images/button/undo.svg" alt="undo">
                </div>
                <div class="button-text">undo</div>
            </button>
        </div>
    </div>
</main>