@use "../../../styles/variables" as *;

.start-btn {
    border: 2px solid $active-text-color;
    background-color: $button-start-color;
    color: $active-text-color;
    border-radius: 7px;
}

.image-rack-container {
  height: 15vh;
  aspect-ratio: 1 / 1; 
  display: flex;
  border: none;
  background-color: transparent;
}

.image-rack-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border: none;
}

.text-box {
    font-size: 1.2rem;
    border: 1px solid $active-text-color;
    border-radius: 5px;
    background-color: $background-color;
    color: $active-text-color;
}

.back-btn {
    border: none;
    background-color: transparent;
    color: $active-text-color;
    font-size: 1rem;
    text-decoration: none;
}

// ----------------------------------
// カスタムスライダーのスタイル設定
// ----------------------------------
// スライダー全体の基本設定
.custom-slider {
  -webkit-appearance: none;
  appearance: none;
  height: 5px;
  width: 100%;
  background: #ddd;
  border-radius: 5px;
}
// スライダーハンドルのスタイル
.custom-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  background: url('../../../assets/images/ball/ball_5.svg') no-repeat center center;
  background-size: contain;
  cursor: pointer;
  transform: translateY(-50%);
}
// スライダートラックのスタイル
.custom-slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  // todo  : 進捗に応じた色変更
  background: linear-gradient(to right, 
              green 0%, 
              green var(--fill-percent), 
              white var(--fill-percent), 
              white 100%);
  border-radius: 5px;
}