$background-color: #005c42;
$header-color: #004d25;
$secondary-color: #008b8b;
$button-newgame-color: #a22;
$button-records-color: #27e;
$button-start-color: #00947a;
$active-text-color: #eee;
$nonactive-text-color: #aaa;