@use "../../../styles/variables" as *;

button {
    color: $active-text-color;
    border: solid 2px black;
    border-radius: 5px;
    height: 3rem;
    font-size: 2rem;
}

.title-text {
    font-size: 6vh;
    color: $active-text-color;
}