
@use '@angular/material' as mat;
@use "styles/variables" as *;
@use "bootstrap/scss/bootstrap";



html {
    margin: 0;
    height: 100%; 
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    height: 100%; 
    background-color: $background-color;
}

header {
    width: 100%;
    background-color: $header-color;
    color: $active-text-color;
    padding: 0.5rem;
}

header .title {
    font-size: 2rem;
}


main {
    height: 100vh; 
    width: 100vw;
    background-color: $background-color;
    color: $active-text-color;
    padding: 1rem 2rem;
}

.image-container {
  width: 100%;
  aspect-ratio: 1 / 1; 
  display: flex;
  border: none;
  background-color: transparent;
}

.image-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border: none;
}